body {
  margin: 0;
}

.quotes-container {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.quotes-card {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
}

.quotes-card.encouraging-theme {
  background: radial-gradient(#fff75e, #ffad0a);
  color: #222222;
}

.quotes-card.offensive-theme {
  background: radial-gradient(#ffd1fc, #ffa7f9);
  color: #222222;
  font-family: "Cedarville Cursive", cursive;
}

.quotes-card.whimsical-theme {
  background: radial-gradient(#f6c19c, #845f86);
  color: #222222;
  font-family: "Indie Flower", cursive;
}

.quotes-card.default-theme {
  background: radial-gradient(#414247, #1b1b1d);
  color: rgb(238, 238, 238);
}

.quotes-card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
