body {
  margin: 0;
}

.quotes-container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#fff75e, #ffad0a);
  color: #222222;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.quotes-card {
  width: 450px;
  background: radial-gradient(#fff75e, #ffad0a);
  color: #222222;
  text-align: center;
  padding: 100px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 30px;
}
