body {
  margin: 0;
}

.main-content {
  display: grid;
  grid-template-columns: minmax(166px, 17%) 1fr;
  height: 100vh;
}

.switch-list-container {
  background: #3f414a;
  color: #eaeaea;
  min-width: 166px;
}

.switch {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-container {
  margin: 20px;
}

.switch-show {
  width: 40px;
}

.switch-hide {
  display: flex;
  justify-content: flex-end;
  width: 40px;
}

.content-column {
  margin-top: 10px;
  margin-left: 20px;
}

.fake-link {
  cursor: default;
}

.icon-container {
  cursor: pointer;
}

.icon-container svg {
  cursor: pointer;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.content-column h4 {
  line-height: 2em;
  margin: 0 0 10px 0;
}

ul.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 3px 3px 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  min-width: 269px;
  width: 270px;
  min-height: 40px;
}

.site-list .fake-link {
  margin-left: 15px;
}
